@import '~bootstrap/scss/bootstrap';
@import './fonts';
@import './variables';

* {
  font-family: ProximaNova;
}

.bg {
  &-dark {
    background-color: $bgDark !important;
  }
}

body {
  background-color: $bodyColor;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: $bgDark;
  font-family: ProximaNovaExtraBold;
}

.text {
  &-muted {
    color: $textMuted !important;
  }
}

.x-small {
  font-size: 0.8rem;
}