.widget {
  background-color: #fff;
  border-radius: .25rem;
  // box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
  padding: 1.5rem;

  .title {
    margin-bottom: 1.5rem;
  }
}